function NandMines.init 0
push constant 50
pop static 0
push constant 18
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 112
call String.appendChar 2
pop static 1
push constant 29
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
pop static 2
push constant 30
call String.new 1
push constant 66
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 41
call String.appendChar 2
pop static 3
push constant 16
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 33
call String.appendChar 2
pop static 4
call Model.init 0
pop temp 0
call View.init 0
pop temp 0
push constant 0
return
function NandMines.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push pointer 0
call NandMines.restart 1
pop temp 0
push pointer 0
return
function NandMines.run 6
call NandMines.init 0
pop temp 0
push constant 0
pop local 1
push constant 1
neg
pop local 2
call NandMines.new 0
pop local 4
push constant 0
pop local 3
label WHILE_0
push local 1
not
not
if-goto END_WHILE_0
label WHILE_1
push local 0
push constant 0
eq
not
if-goto END_WHILE_1
push local 5
push constant 1
add
pop local 5
call Keyboard.keyPressed 0
pop local 0
goto WHILE_1
label END_WHILE_1
label WHILE_2
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto END_WHILE_2
goto WHILE_2
label END_WHILE_2
push local 3
if-goto IF_3
push local 2
if-goto IF_4
goto ENDIF_4
label IF_4
push local 4
push local 5
call NandMines.randomizeBombs 2
pop temp 0
push constant 0
pop local 2
label ENDIF_4
push local 0
push constant 81
eq
push local 0
push constant 113
eq
or
if-goto IF_5
goto ENDIF_5
label IF_5
push constant 1
neg
pop local 1
label ENDIF_5
push local 0
push constant 82
eq
push local 0
push constant 114
eq
or
if-goto IF_6
goto ENDIF_6
label IF_6
push local 4
call NandMines.restart 1
pop temp 0
push constant 1
neg
pop local 2
label ENDIF_6
push local 0
push constant 72
eq
push local 0
push constant 104
eq
or
if-goto IF_7
goto ENDIF_7
label IF_7
push local 4
call NandMines.showHelpDialog 1
pop temp 0
push constant 1
neg
pop local 3
label ENDIF_7
push local 0
push constant 130
eq
if-goto IF_8
goto ENDIF_8
label IF_8
push local 4
push constant 0
call NandMines.moveHorizontal 2
pop temp 0
label ENDIF_8
push local 0
push constant 131
eq
if-goto IF_9
goto ENDIF_9
label IF_9
push local 4
push constant 0
call NandMines.moveVertical 2
pop temp 0
label ENDIF_9
push local 0
push constant 132
eq
if-goto IF_10
goto ENDIF_10
label IF_10
push local 4
push constant 1
neg
call NandMines.moveHorizontal 2
pop temp 0
label ENDIF_10
push local 0
push constant 133
eq
if-goto IF_11
goto ENDIF_11
label IF_11
push local 4
push constant 1
neg
call NandMines.moveVertical 2
pop temp 0
label ENDIF_11
push local 0
push constant 139
eq
if-goto IF_12
goto ENDIF_12
label IF_12
push local 4
call NandMines.clearSquare 1
pop temp 0
label ENDIF_12
push local 0
push constant 138
eq
if-goto IF_13
goto ENDIF_13
label IF_13
push local 4
call NandMines.toggleFlag 1
pop temp 0
label ENDIF_13
goto ENDIF_3
label IF_3
push local 0
push constant 140
eq
if-goto IF_14
goto ENDIF_14
label IF_14
push local 4
call NandMines.paintGameBoard 1
pop temp 0
push constant 0
pop local 3
label ENDIF_14
label ENDIF_3
push constant 0
pop local 0
goto WHILE_0
label END_WHILE_0
push local 4
call NandMines.dispose 1
pop temp 0
push constant 0
return
function NandMines.restart 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
not
if-goto IF_15
goto ENDIF_15
label IF_15
push this 0
call Model.dispose 1
pop temp 0
label ENDIF_15
call Model.new 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
call Model.getRows 0
call Model.getColumns 0
call Math.multiply 2
pop this 5
call View.drawFrame 0
pop temp 0
push pointer 0
call NandMines.paintGameBoard 1
pop temp 0
push constant 0
return
function NandMines.randomizeBombs 0
push argument 0
pop pointer 0
push this 0
push static 0
push argument 1
call Model.setBombs 3
pop temp 0
push constant 0
return
function NandMines.showHelpDialog 0
push argument 0
pop pointer 0
call View.showHelp 0
pop temp 0
push static 2
call View.showMessage 1
pop temp 0
push constant 0
return
function NandMines.paintGameBoard 0
push argument 0
pop pointer 0
push pointer 0
call NandMines.paintSquares 1
pop temp 0
push pointer 0
call NandMines.paintSelected 1
pop temp 0
push static 1
call View.showMessage 1
pop temp 0
push constant 0
return
function NandMines.moveHorizontal 0
push argument 0
pop pointer 0
push pointer 0
push this 2
push this 3
push argument 1
call NandMines.moveHorizontalStartingIn 4
pop temp 0
push constant 0
return
function NandMines.moveHorizontalStartingIn 2
push argument 0
pop pointer 0
push this 1
if-goto IF_16
goto ENDIF_16
label IF_16
push constant 0
return
label ENDIF_16
push argument 3
if-goto IF_17
push argument 1
push constant 1
sub
pop local 1
goto ENDIF_17
label IF_17
push argument 1
push constant 1
add
pop local 1
label ENDIF_17
label WHILE_18
push local 1
call Model.getColumns 0
lt
push local 1
push constant 1
neg
gt
and
not
if-goto END_WHILE_18
push this 0
push local 1
push argument 2
call Model.getSquare 3
pop local 0
push local 0
call Square.isHidden 1
if-goto IF_19
goto ENDIF_19
label IF_19
push pointer 0
push this 2
push this 3
call NandMines.paintSquare 3
pop temp 0
push local 1
pop this 2
push argument 2
pop this 3
push pointer 0
call NandMines.paintSelected 1
pop temp 0
push constant 0
return
label ENDIF_19
push argument 3
if-goto IF_20
push local 1
push constant 1
sub
pop local 1
goto ENDIF_20
label IF_20
push local 1
push constant 1
add
pop local 1
label ENDIF_20
goto WHILE_18
label END_WHILE_18
push argument 3
if-goto IF_21
push argument 2
push constant 0
eq
if-goto IF_22
push argument 2
push constant 1
sub
pop argument 2
goto ENDIF_22
label IF_22
call Model.getRows 0
push constant 1
sub
pop argument 2
label ENDIF_22
push pointer 0
call Model.getColumns 0
push argument 2
push argument 3
call NandMines.moveHorizontalStartingIn 4
pop temp 0
goto ENDIF_21
label IF_21
push argument 2
call Model.getRows 0
push constant 1
sub
eq
if-goto IF_23
push argument 2
push constant 1
add
pop argument 2
goto ENDIF_23
label IF_23
push constant 0
pop argument 2
label ENDIF_23
push pointer 0
push constant 1
neg
push argument 2
push argument 3
call NandMines.moveHorizontalStartingIn 4
pop temp 0
label ENDIF_21
push constant 0
return
function NandMines.moveVertical 0
push argument 0
pop pointer 0
push pointer 0
push this 2
push this 3
push argument 1
call NandMines.moveVerticalStartingIn 4
pop temp 0
push constant 0
return
function NandMines.moveVerticalStartingIn 2
push argument 0
pop pointer 0
push this 1
if-goto IF_24
goto ENDIF_24
label IF_24
push constant 0
return
label ENDIF_24
push argument 3
if-goto IF_25
push argument 2
push constant 1
sub
pop local 1
goto ENDIF_25
label IF_25
push argument 2
push constant 1
add
pop local 1
label ENDIF_25
label WHILE_26
push local 1
call Model.getRows 0
lt
push local 1
push constant 1
neg
gt
and
not
if-goto END_WHILE_26
push this 0
push argument 1
push local 1
call Model.getSquare 3
pop local 0
push local 0
call Square.isHidden 1
if-goto IF_27
goto ENDIF_27
label IF_27
push pointer 0
push this 2
push this 3
call NandMines.paintSquare 3
pop temp 0
push argument 1
pop this 2
push local 1
pop this 3
push pointer 0
call NandMines.paintSelected 1
pop temp 0
push constant 0
return
label ENDIF_27
push argument 3
if-goto IF_28
push local 1
push constant 1
sub
pop local 1
goto ENDIF_28
label IF_28
push local 1
push constant 1
add
pop local 1
label ENDIF_28
goto WHILE_26
label END_WHILE_26
push argument 3
if-goto IF_29
push argument 1
push constant 0
eq
if-goto IF_30
push argument 1
push constant 1
sub
pop argument 1
goto ENDIF_30
label IF_30
call Model.getColumns 0
push constant 1
sub
pop argument 1
label ENDIF_30
push pointer 0
push argument 1
call Model.getRows 0
push argument 3
call NandMines.moveVerticalStartingIn 4
pop temp 0
goto ENDIF_29
label IF_29
push argument 1
call Model.getColumns 0
push constant 1
sub
eq
if-goto IF_31
push argument 1
push constant 1
add
pop argument 1
goto ENDIF_31
label IF_31
push constant 0
pop argument 1
label ENDIF_31
push pointer 0
push argument 1
push constant 1
neg
push argument 3
call NandMines.moveVerticalStartingIn 4
pop temp 0
label ENDIF_29
push constant 0
return
function NandMines.toggleFlag 1
push argument 0
pop pointer 0
push this 1
if-goto IF_32
goto ENDIF_32
label IF_32
push constant 0
return
label ENDIF_32
push this 0
push this 2
push this 3
call Model.getSquare 3
pop local 0
push local 0
push local 0
call Square.isFlag 1
not
call Square.setFlag 2
pop temp 0
push local 0
call Square.isFlag 1
if-goto IF_33
push this 4
push constant 1
sub
pop this 4
goto ENDIF_33
label IF_33
push this 4
push constant 1
add
pop this 4
label ENDIF_33
push this 4
push this 0
call Model.getBombs 1
call View.showLocatedBombsMessage 2
pop temp 0
push pointer 0
call NandMines.paintSelected 1
pop temp 0
push pointer 0
call NandMines.checkComplete 1
pop temp 0
push constant 0
return
function NandMines.clearSquare 2
push argument 0
pop pointer 0
push this 1
if-goto IF_34
goto ENDIF_34
label IF_34
push constant 0
return
label ENDIF_34
push this 0
push this 2
push this 3
call Model.getSquare 3
pop local 1
push local 1
push constant 0
eq
if-goto IF_35
goto ENDIF_35
label IF_35
push constant 0
return
label ENDIF_35
push local 1
push constant 0
call Square.setHidden 2
pop temp 0
push this 5
push constant 1
sub
pop this 5
push local 1
call Square.isFlag 1
if-goto IF_36
goto ENDIF_36
label IF_36
push this 4
push constant 1
sub
pop this 4
label ENDIF_36
push local 1
call Square.isBomb 1
if-goto IF_37
push pointer 0
push this 2
push this 3
call NandMines.paintSquare 3
pop temp 0
push pointer 0
call NandMines.clearBlanks 1
pop temp 0
push pointer 0
call NandMines.checkComplete 1
pop temp 0
goto ENDIF_37
label IF_37
push constant 1
neg
pop this 1
push static 3
call View.showMessage 1
pop temp 0
push pointer 0
call NandMines.paintSquares 1
pop temp 0
label ENDIF_37
push constant 0
return
function NandMines.checkComplete 0
push argument 0
pop pointer 0
push this 5
push this 4
eq
push this 5
push this 0
call Model.getBombs 1
eq
and
if-goto IF_38
goto ENDIF_38
label IF_38
push constant 1
neg
pop this 1
push static 4
call View.showMessage 1
pop temp 0
label ENDIF_38
push constant 0
return
function NandMines.clearBlanks 5
push argument 0
pop pointer 0
call Model.getRows 0
call Model.getColumns 0
call Math.multiply 2
call Array.new 1
pop local 4
push constant 0
pop local 0
label WHILE_39
push local 0
call Model.getRows 0
call Model.getColumns 0
call Math.multiply 2
lt
not
if-goto END_WHILE_39
push constant 0
push local 4
push local 0
add
pop pointer 1
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_39
label END_WHILE_39
push this 2
pop local 0
push this 3
pop local 1
push this 0
push local 0
push local 1
call Model.getSquare 3
pop local 2
call LinkedList.new 0
pop local 3
push local 3
push local 2
call Square.getId 1
call LinkedList.addLast 2
pop temp 0
label WHILE_40
push local 3
call LinkedList.getSize 1
push constant 0
gt
not
if-goto END_WHILE_40
push this 0
push local 3
call LinkedList.removeFirst 1
call Model.getSquareById 2
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_41
goto ENDIF_41
label IF_41
push local 2
call Square.isFlag 1
not
if-goto IF_42
goto ENDIF_42
label IF_42
push local 4
push local 2
call Square.getId 1
add
pop pointer 1
push that 0
not
if-goto IF_43
goto ENDIF_43
label IF_43
push constant 1
neg
push local 4
push local 2
call Square.getId 1
add
pop pointer 1
pop that 0
push local 2
call Square.isBomb 1
not
if-goto IF_44
goto ENDIF_44
label IF_44
push local 2
call Square.getId 1
call Model.getColumn 1
pop local 0
push local 2
call Square.getId 1
call Model.getRow 1
pop local 1
push local 2
call Square.isHidden 1
if-goto IF_45
goto ENDIF_45
label IF_45
push local 2
push constant 0
call Square.setHidden 2
pop temp 0
push this 5
push constant 1
sub
pop this 5
label ENDIF_45
push pointer 0
push local 0
push local 1
call NandMines.paintSquare 3
pop temp 0
push pointer 0
push local 0
push local 1
call NandMines.getMines 3
push constant 0
eq
if-goto IF_46
goto ENDIF_46
label IF_46
push local 3
push local 0
push constant 1
sub
push local 1
push constant 1
sub
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
push local 3
push local 0
push constant 1
sub
push local 1
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
push local 3
push local 0
push constant 1
sub
push local 1
push constant 1
add
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
push local 3
push local 0
push local 1
push constant 1
sub
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
push local 3
push local 0
push local 1
push constant 1
add
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
push local 3
push local 0
push constant 1
add
push local 1
push constant 1
sub
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
push local 3
push local 0
push constant 1
add
push local 1
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
push local 3
push local 0
push constant 1
add
push local 1
push constant 1
add
call Model.getId 2
call LinkedList.addLast 2
pop temp 0
label ENDIF_46
label ENDIF_44
label ENDIF_43
label ENDIF_42
label ENDIF_41
goto WHILE_40
label END_WHILE_40
push local 3
call LinkedList.dispose 1
pop temp 0
push local 4
call Array.dispose 1
pop temp 0
push constant 0
return
function NandMines.getMines 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push this 0
push argument 1
push constant 1
sub
push argument 2
push constant 1
sub
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_47
goto ENDIF_47
label IF_47
push local 0
call Square.isBomb 1
if-goto IF_48
goto ENDIF_48
label IF_48
push local 1
push constant 1
add
pop local 1
label ENDIF_48
label ENDIF_47
push this 0
push argument 1
push constant 1
sub
push argument 2
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_49
goto ENDIF_49
label IF_49
push local 0
call Square.isBomb 1
if-goto IF_50
goto ENDIF_50
label IF_50
push local 1
push constant 1
add
pop local 1
label ENDIF_50
label ENDIF_49
push this 0
push argument 1
push constant 1
sub
push argument 2
push constant 1
add
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_51
goto ENDIF_51
label IF_51
push local 0
call Square.isBomb 1
if-goto IF_52
goto ENDIF_52
label IF_52
push local 1
push constant 1
add
pop local 1
label ENDIF_52
label ENDIF_51
push this 0
push argument 1
push argument 2
push constant 1
sub
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_53
goto ENDIF_53
label IF_53
push local 0
call Square.isBomb 1
if-goto IF_54
goto ENDIF_54
label IF_54
push local 1
push constant 1
add
pop local 1
label ENDIF_54
label ENDIF_53
push this 0
push argument 1
push argument 2
push constant 1
add
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_55
goto ENDIF_55
label IF_55
push local 0
call Square.isBomb 1
if-goto IF_56
goto ENDIF_56
label IF_56
push local 1
push constant 1
add
pop local 1
label ENDIF_56
label ENDIF_55
push this 0
push argument 1
push constant 1
add
push argument 2
push constant 1
sub
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_57
goto ENDIF_57
label IF_57
push local 0
call Square.isBomb 1
if-goto IF_58
goto ENDIF_58
label IF_58
push local 1
push constant 1
add
pop local 1
label ENDIF_58
label ENDIF_57
push this 0
push argument 1
push constant 1
add
push argument 2
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_59
goto ENDIF_59
label IF_59
push local 0
call Square.isBomb 1
if-goto IF_60
goto ENDIF_60
label IF_60
push local 1
push constant 1
add
pop local 1
label ENDIF_60
label ENDIF_59
push this 0
push argument 1
push constant 1
add
push argument 2
push constant 1
add
call Model.getSquare 3
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_61
goto ENDIF_61
label IF_61
push local 0
call Square.isBomb 1
if-goto IF_62
goto ENDIF_62
label IF_62
push local 1
push constant 1
add
pop local 1
label ENDIF_62
label ENDIF_61
push local 1
return
function NandMines.paintSelected 1
push argument 0
pop pointer 0
push this 1
if-goto IF_63
goto ENDIF_63
label IF_63
push constant 0
return
label ENDIF_63
push this 0
push this 2
push this 3
call Model.getSquare 3
pop local 0
push local 0
call Square.isFlag 1
if-goto IF_64
push this 2
push this 3
call View.getSquarePosition 2
call View.drawSelected 1
pop temp 0
goto ENDIF_64
label IF_64
push this 2
push this 3
call View.getSquarePosition 2
call View.drawFlagSelected 1
pop temp 0
label ENDIF_64
push constant 0
return
function NandMines.paintSquares 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_65
push local 0
call Model.getColumns 0
lt
not
if-goto END_WHILE_65
push constant 0
pop local 1
label WHILE_66
push local 1
call Model.getRows 0
lt
not
if-goto END_WHILE_66
push pointer 0
push local 0
push local 1
call NandMines.paintSquare 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_66
label END_WHILE_66
push local 0
push constant 1
add
pop local 0
goto WHILE_65
label END_WHILE_65
push constant 0
return
function NandMines.paintSquare 2
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto IF_67
goto ENDIF_67
label IF_67
push constant 0
return
label ENDIF_67
push this 0
push argument 1
push argument 2
call Model.getSquare 3
pop local 1
push local 1
push constant 0
eq
if-goto IF_68
goto ENDIF_68
label IF_68
push constant 0
return
label ENDIF_68
push local 1
call Square.isHidden 1
if-goto IF_69
push local 1
call Square.isBomb 1
if-goto IF_70
goto ENDIF_70
label IF_70
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawExplosion 1
pop temp 0
push constant 0
return
label ENDIF_70
push pointer 0
push argument 1
push argument 2
call NandMines.getMines 3
pop local 0
push local 0
push constant 0
eq
if-goto IF_71
goto ENDIF_71
label IF_71
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawBlank 1
pop temp 0
push constant 0
return
label ENDIF_71
push local 0
push constant 1
eq
if-goto IF_72
goto ENDIF_72
label IF_72
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw1 1
pop temp 0
push constant 0
return
label ENDIF_72
push local 0
push constant 2
eq
if-goto IF_73
goto ENDIF_73
label IF_73
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw2 1
pop temp 0
push constant 0
return
label ENDIF_73
push local 0
push constant 3
eq
if-goto IF_74
goto ENDIF_74
label IF_74
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw3 1
pop temp 0
push constant 0
return
label ENDIF_74
push local 0
push constant 4
eq
if-goto IF_75
goto ENDIF_75
label IF_75
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw4 1
pop temp 0
push constant 0
return
label ENDIF_75
push local 0
push constant 5
eq
if-goto IF_76
goto ENDIF_76
label IF_76
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw5 1
pop temp 0
push constant 0
return
label ENDIF_76
push local 0
push constant 6
eq
if-goto IF_77
goto ENDIF_77
label IF_77
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw6 1
pop temp 0
push constant 0
return
label ENDIF_77
push local 0
push constant 7
eq
if-goto IF_78
goto ENDIF_78
label IF_78
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw7 1
pop temp 0
push constant 0
return
label ENDIF_78
push local 0
push constant 8
eq
if-goto IF_79
goto ENDIF_79
label IF_79
push argument 1
push argument 2
call View.getSquarePosition 2
call View.draw8 1
pop temp 0
push constant 0
return
label ENDIF_79
goto ENDIF_69
label IF_69
push this 1
if-goto IF_80
push local 1
call Square.isFlag 1
if-goto IF_81
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawHidden 1
pop temp 0
push constant 0
return
goto ENDIF_81
label IF_81
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawFlag 1
pop temp 0
push constant 0
return
label ENDIF_81
goto ENDIF_80
label IF_80
push local 1
call Square.isFlag 1
if-goto IF_82
push local 1
call Square.isBomb 1
if-goto IF_83
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawHidden 1
pop temp 0
push constant 0
return
goto ENDIF_83
label IF_83
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawMine 1
pop temp 0
push constant 0
return
label ENDIF_83
goto ENDIF_82
label IF_82
push local 1
call Square.isBomb 1
if-goto IF_84
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawFail 1
pop temp 0
push constant 0
return
goto ENDIF_84
label IF_84
push argument 1
push argument 2
call View.getSquarePosition 2
call View.drawFlag 1
pop temp 0
push constant 0
return
label ENDIF_84
label ENDIF_82
label ENDIF_80
label ENDIF_69
push constant 0
return
function NandMines.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
