function Random.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
call Random.next 1
pop temp 0
push pointer 0
return
function Random.mod 0
push argument 0
push argument 1
push argument 0
push argument 1
call Math.divide 2
call Math.multiply 2
sub
return
function Random.next 0
push argument 0
pop pointer 0
push this 0
push constant 8017
call Math.multiply 2
push this 1
call Random.mod 2
pop this 0
push this 0
push constant 0
lt
if-goto IF_0
goto ENDIF_0
label IF_0
push this 0
neg
push this 1
call Random.mod 2
pop this 0
label ENDIF_0
push this 0
return
function Random.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
