function Square.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 3
push constant 1
neg
pop this 2
push pointer 0
return
function Square.getId 0
push argument 0
pop pointer 0
push this 0
return
function Square.isFlag 0
push argument 0
pop pointer 0
push this 3
return
function Square.setBomb 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Square.setFlag 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Square.isBomb 0
push argument 0
pop pointer 0
push this 1
return
function Square.isHidden 0
push argument 0
pop pointer 0
push this 2
return
function Square.setHidden 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
